
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


.pink {
  color: #ff4b5c;
}

.hero {
  min-height: 100vh;
  background:
    linear-gradient(
      to right,
      rgba(255, 0, 128, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url('../assets/img/angel.jpg');

  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  color: white;
  font-size: 60px;
  letter-spacing: 6px;
  text-align: center;
}


.block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  padding: 80px;
}

.block.reverse {
  flex-direction: row-reverse;
}


.text {
  flex: 1;
}

.text h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.text p {
  color: gray;
  line-height: 1.6;
  margin-bottom: 25px;
}

button {
  background: #ff4b5c;
  color: white;
  border: none;
  padding: 10px 30px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background: #ff2f92;
}


.img {
  flex: 1;
  display: flex;
  justify-content: center;
}

.img img {
  width: 280px;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(255, 75, 92, 0.35);
}


.banner {
  height: 350px;
  background:
    linear-gradient(
      to left,
      rgba(255, 0, 128, 0.65),
      rgba(0, 0, 0, 0.6)
    ),
    url("../assets/img/raptis.png");

  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: right;

  gap: 20px;
  padding: 40px;
}

.banner h2 {
  color: white;
  font-size: 40px;
}

.banner p {
  color: white;
  max-width: 600px;
}


.footer {
  background: linear-gradient(to right, #ff4b5c, #ff2f92);
  padding: 60px 40px 30px;
  color: white;

  display: flex;
  flex-direction: column;
  gap: 50px;
}


.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.footer-col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-col h4 {
  font-size: 16px;
}

.footer-col a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}


.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 25px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);

  font-size: 13px;
}
